html {
  font-size: 62.5%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border: 2px solid violet;
}

.logo {
  height: 10rem;
}

.navItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  list-style: none;
  font-size: 2rem;
}

.navItems > li {
  padding: 2rem;
}

.cart-item {
  display: flex;
  flex-direction: row;
}

.cart {
  height: 1.6rem;
}

.resCardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  width: 20rem;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 8px;
  background-color: aliceblue;
}

.card:hover {
  border: 1px solid #aeadad;
}

.card > h2 ~ p {
  font-size: 14px;
  font-weight: 500;
}

.resImage {
  width: 100%;
}

.body {
}

.search {
  padding: 1rem;
  margin: 8px 0;
  width: 30rem;
}
