html {
  font-size: 62.5%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border: 2px solid rgba(255, 165, 0, 0.2);
  border-radius: 8px;
}

.logo {
  height: 10rem;
}

.navItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  list-style: none;
  font-size: 2rem;
  margin: 0;
}

.navItems > li {
  padding: 0 2rem;
}

.cart-item {
  display: flex;
  flex-direction: row;
}

.cart {
  height: 1.6rem;
}

.loginBtn {
  background-color: #4caf50;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.resCardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.card {
  width: 20rem;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 8px;
  background-color: aliceblue;
}

.card:hover {
  border: 1px solid #aeadad;
}

.card > h2 ~ p {
  font-size: 14px;
  font-weight: 500;
}

.resImage {
  width: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  padding: 1rem;
  margin: 8px 0;
  width: 50rem;
}

.search > input {
  margin-right: 10px;
  padding: 0.4rem;
  border-radius: 5px;
  border: 1px solid #aeadad;
}

.search > button {
  padding: 0.4rem 0.8rem;
  background-color: orange;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 2rem 0;
}

.filterBtn {
  margin: 2rem 0;
  padding: 5px 10px;
  border-radius: 8px;
  background-color: orange;
  color: white;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

/* Shimmer UI */
.shimmerContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 20rem;
  height: 30rem;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 8px;
}

.imageBox {
  background-color: rgba(27, 31, 35, 0.05);
  width: 90%;
  height: 100px;
  border-radius: 8px;
  margin-bottom: 1.2rem;
}

.textBox {
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 8px;
  padding: 8px;
  width: 55%;
  height: 16px;
}
